= form_for @item, html: {class: 'form-horizontal new-file'} do |f|
  = f.hidden_field(:folder_id, value: @item.folder_id)
  = f.hidden_field(:key)

  .form-group
    = f.label :name, 'File name', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, value: @item.filename, class: 'form-control form-control-static', readonly: true

  .form-group
    = f.label :description, 'Description', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'

  = f.submit 'Upload', class: 'btn btn-primary btn-xs'
